---
import Layout from "../layouts/Layout.astro";
import { collection, getDocs } from "firebase/firestore";
import { db } from "../firebase";
import Card from "../components/Card.astro";

const fetchData = async (products: string) => {
  const ref = collection(db, products);
  const querySnapshot = await getDocs(ref);
  const data = querySnapshot.docs.map((doc) => doc.data());
  return data;
};
const data = await fetchData('amigurumi')
---
<Layout title="Bienvenido a doll">
  <div class="grid " data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }' >
    {
      data.map((item) => {
        return (
          <Card product={item} />
        )
      })
    }
  </div>
</Layout>
