---
import { collection, getDocs } from "firebase/firestore";
import Card from "@components/Card.astro";
import { db } from "@services/firebase";
import Layout from "@layouts/Layout.astro";

const fetchData = async (products: string) => {
  const ref = collection(db, products);
  const querySnapshot = await getDocs(ref);
  const data = querySnapshot.docs.map((doc) => doc.data());
  return data;
};
const data = await fetchData('felting')
---
<Layout title="Bienvenido a doll">
  <h1 class="text-center font-semibold my-7 text-5xl">Felting</h1>
  <div class="grid md:grid-cols-3 sm:grid-cols-2 gap-5">
    {
      data.map((item) => {
        return (
          <Card product={item} />
        )
      })
    }
  </div>
</Layout>
