---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Bienvenido a doll">
	
	<main class="">
		<div class="flex justify-center items-center my-6">
			<img class="w-48 " src="./image/logo.png" alt="logo">
		</div>
		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-14">
			<div class="">
				<a class="absolut transition-all block hover:scale-110" href="/amigurumi">
					<img class="rounded-xl object-cover " src="./image/amigurumi.webp" alt="Amigurumi">
					<p class="relative bottom-32 font-bold text-5xl text-white text-center ">Amigurumi</p>
				</a>
			</div>
			<div class="">
				<a class="absolut transition-all block hover:scale-110" href="varios">
					<img class="rounded-xl object-cover " src="./image/needle.webp" alt="ganchillo">
					<p class="relative bottom-32 font-bold text-5xl text-white text-center ">Varios</p>
				</a>
			</div>
			<div>
				<a class="absolut transition-all block hover:scale-110" href="hama">
					<img class="rounded-xl object-cover " src="./image/hama.webp" alt="Hama">
					<p class="relative bottom-32 font-bold text-5xl text-white text-center ">Hama</p>
				</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	.content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 3rem;
	}
</style>
