---
import Layout from '@layouts/Layout.astro';
import Icon from '@components/Icon.astro';
---

<Layout title="Bienvenido a doll">
	<main class="mt-20">
		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-14">
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="/amigurumi">
					<img class=" rounded-xl object-cover w-full" src="./image/amigurumi.webp" alt="Amigurumi">
					<p class="font-bold text-4xl text-secondary-light text-center mt-6">Amigurumi</p>
				</a>
			</div>
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="varios">
					<img class="rounded-xl object-cover" src="./image/needle.webp" alt="ganchillo">
					<p class="font-bold text-5xl text-secondary-light text-center mt-6">Varios</p>
				</a>
			</div>
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="hama">
					<img class="rounded-xl object-cover" src="./image/hama.webp" alt="Hama">
					<p class="font-bold text-5xl text-secondary-light text-center mt-6">Hama</p>
				</a>
			</div>
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="felting">
					<img class="rounded-xl object-cover" src="./image/felting.webp" alt="Felting">
					<p class="font-bold text-5xl text-secondary-light text-center mt-6">Felting</p>
				</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	.content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 3rem;
	}
</style>
