---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Bienvenido a doll">
	<main class="">
		<div class="flex justify-center items-center my-16">
			<img class="w-48 " src="./image/logo.png" alt="logo">
		</div>
		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-14">
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="/amigurumi">
					<img class="rounded-xl object-cover w-full" src="./image/amigurumi.webp" alt="Amigurumi">
					<p class="font-bold text-4xl text-white text-center ">Amigurumi</p>
				</a>
			</div>
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="varios">
					<img class="rounded-xl object-cover " src="./image/needle.webp" alt="ganchillo">
					<p class="font-bold text-5xl text-white text-center ">Varios</p>
				</a>
			</div>
			<div class="transition-all duration-300 ease-in hover:scale-110">
				<a class="" href="hama">
					<img class="rounded-xl object-cover " src="./image/hama.webp" alt="Hama">
					<p class="font-bold text-5xl text-white text-center ">Hama</p>
				</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	.content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 3rem;
	}
</style>
