---
import { collection, getDocs } from "firebase/firestore";
import Card from "../components/Card.astro";
import { db } from "../firebase";
import Layout from "../layouts/Layout.astro";

const fetchData = async (products: string) => {
  const ref = collection(db, products);
  const querySnapshot = await getDocs(ref);
  const data = querySnapshot.docs.map((doc) => doc.data());
  return data;
};
const data = await fetchData('ganchillo')
---
<Layout title="Bienvenido a doll">
  <h2 class="text-3xl text-center my-7">Varios</h2>
  <div class="lg:columns-4 sm:columns-3 space-y-5" >
    {
      data.map((item) => {
        return (
          <Card product={item} />
        )
      })
    }
  </div>
</Layout>