---
const {title,} = Astro.props;
---
<button >
  {title}
  <img src="./image/google.svg" alt="">
</button>
<script>
  const button = document.querySelector('button');
  button?.addEventListener('click', () => {
    console.log('click');
  });

</script>
<style>
  
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-tertiary);
  }
  img {
    width: 24px;
    object-fit: cover;
  }
  button:hover {
    background-color: var(--color-secondary-hover);
  }
</style>