---
import type { IProduct } from '../interface/product';

const product = Astro.props.product;
---
<div class=" border-solid border-3 border-white">
	<img class="object-cover w-full" src={product.urlImage[0]} alt={product.name} />
</div>
