---
import { ButtonLogin } from '@components/ButtonLogin';
---

<header>
  <div class="flex justify-between items-center flex-wrap ">
    <div class=""><a href="/"><h1 class="text-4xl">Store Doll</h1></a></div>
    <div class="flex gap-4 items-center my-6">
      <ul class="flex gap-7 items-center">
        <li><a class="block transform-all ease-linear duration-200 hover:scale-110 font-semibold hover:underline" href="amigurumi">Amigurumi</a></li>
        <li><a class="block transform-all ease-linear duration-200 hover:scale-110 font-semibold hover:underline" href="varios">Varios</a></li>
        <li><a class="block transform-all ease-linear duration-200 hover:scale-110 font-semibold hover:underline" href="hama">Hama</a></li>
        <li><a class="block transform-all ease-linear duration-200 hover:scale-110 font-semibold hover:underline" href="felting">Felting</a></li>
      </ul>
      <ButtonLogin client:visible>Login</ButtonLogin>
    </div>
    
  </div>
</header>



